html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 10px white;
    overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

.space {
    margin-top: 50px;
}

@font-face {
    font-family: "urwgroteskscreg";
    src: url("font/urwgroteskscreg.ttf") format("truetype");
}

/* Estilos para el cuerpo del documento */
body {
    font-family: "urwgroteskscreg", Arial, sans-serif;
    background-image: url("images/fondo/fondo_menu.jpeg");
    background-size: cover;
    background-position: center; /* Asegura que el fondo esté centrado */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija el fondo para que no desaparezca al hacer scroll */
    font-size: 16px;
    margin: 0;

}


@media (min-width: 480px) and (max-width: 768px) {
    
    body::before {
        content: "";
        display: flex; /* Utiliza flexbox para alinear elementos */
        flex-direction: column; /* Coloca elementos en columnas */
        align-items: center; /* Centra horizontalmente */
        justify-content: flex-start; /* Alinea hacia arriba para evitar superposición */
        position: fixed;
        z-index: -1;
    }

    .espacio {
        flex-direction: column;
        align-items: center;
    }

    .space {
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

    .list {
        margin-top: 4rem;
        margin: 0;
        padding: 0;
    }

    .container {
        flex-direction: row;
    }

    hr {
        border: none;
        background-color: white;
        height: 1.5px;
        margin-left: 3rem;
        margin-right: 3rem;
        text-shadow: 0 0 6px white;
    }


    .drink-name {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        font-size: 0.90rem;
    }

    .drink-price {
        margin-bottom: 2rem;
        margin-right: 5rem;
        font-size: 1.10rem;
    }

}

footer {
    text-align: center;
    font-size: 1.1rem;
}
